# Introduction to pandas

[Pandas](http://pandas.pydata.org/ "Pandas") is a high performance library for manipulating multidimensional data. It is part of an expansive toolkit for data analytics including

- [numpy](http://www.numpy.org/ "numpy")
- [scipy](https://www.scipy.org/ "scipy")
- [scikit-learn](http://scikit-learn.org/ "scikit-learn")
- [jupyter](http://jupyter.org/ "jupyter")

In [8]:
df = pd.read_csv('na.xyz', delim_whitespace=True, names=['symbol', 'x', 'y', 'z'])

In [4]:
df.head()

   symbol        x        y        z
0     195      NaN      NaN      NaN
1  frame:       0,    step:   60000,
2      Na  8.57536  14.6589  9.63799
3       O  18.8463  21.5725  7.35312
4       O  13.7958  27.6862   1.9647

In [7]:
len(df.loc[df.symbol.str.isdigit()])

2000